@import '~antd/dist/antd.css';

* {
	box-sizing: border-box;
}

ิbody {
	margin: 0;
}

.login-button {
	width: 100%;
}

.template-layout {
	min-height: 100vh;
}

.template-header {
	background-color: aquamarine;
}

.template-content {
	padding: 2rem;
}
